In [1]:
# Importing all required python libraries required for cleaning.
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#  Accessing the laptop_price dataset which would be cleaned.
with open(r'C:\Users\DANIEL\Documents\laptop_price\laptop_price.csv') as data:
    dataset = pd.read_csv(data)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\DANIEL\\Documents\\laptop_price\\laptop_price.csv'

In [ ]:
# Top view of laptop_price dataset
print(dataset.head())

   laptop_ID Company      Product   TypeName  Inches  \
0          1   Apple  MacBook Pro  Ultrabook    13.3
1          2   Apple  Macbook Air  Ultrabook    13.3
2          3      HP       250 G6   Notebook    15.6
3          4   Apple  MacBook Pro  Ultrabook    15.4
4          5   Apple  MacBook Pro  Ultrabook    13.3

                     ScreenResolution                         Cpu   Ram  \
0  IPS Panel Retina Display 2560x1600        Intel Core i5 2.3GHz   8GB
1                            1440x900        Intel Core i5 1.8GHz   8GB
2                   Full HD 1920x1080  Intel Core i5 7200U 2.5GHz   8GB
3  IPS Panel Retina Display 2880x1800        Intel Core i7 2.7GHz  16GB
4  IPS Panel Retina Display 2560x1600        Intel Core i5 3.1GHz   8GB

                Memory                           Gpu  OpSys  Weight  \
0            128GB SSD  Intel Iris Plus Graphics 640  macOS  1.37kg
1  128GB Flash Storage        Intel HD Graphics 6000  macOS  1.34kg
2            256GB SSD         Intel HD Graphics 620  No OS  1.86kg
3            512GB SSD            AMD Radeon Pro 455  macOS  1.83kg
4            256GB SSD  Intel Iris Plus Graphics 650  macOS  1.37kg

   Price_euros
0      1339.69
1       898.94
2       575.00
3      2537.45
4      1803.60

In [ ]:
# Summary of laptop_price dataset
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   int64
 1   Company           1303 non-null   object
 2   Product           1303 non-null   object
 3   TypeName          1303 non-null   object
 4   Inches            1303 non-null   float64
 5   ScreenResolution  1303 non-null   object
 6   Cpu               1303 non-null   object
 7   Ram               1303 non-null   object
 8   Memory            1303 non-null   object
 9   Gpu               1303 non-null   object
 10  OpSys             1303 non-null   object
 11  Weight            1303 non-null   object
 12  Price_euros       1303 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 132.5+ KB
None

In [ ]:
# Standardizing the column names
dataset.columns = dataset.columns.str.lower().str.strip()
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_id         1303 non-null   int64
 1   company           1303 non-null   object
 2   product           1303 non-null   object
 3   typename          1303 non-null   object
 4   inches            1303 non-null   float64
 5   screenresolution  1303 non-null   object
 6   cpu               1303 non-null   object
 7   ram               1303 non-null   object
 8   memory            1303 non-null   object
 9   gpu               1303 non-null   object
 10  opsys             1303 non-null   object
 11  weight            1303 non-null   object
 12  price_euros       1303 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 132.5+ KB
None

In [ ]:
# I am looping through the object columns to know which to convert to category for better analysis
object_columns = ['company', 'product', 'typename', 'screenresolution', 'cpu', 'memory', 'gpu', 'opsys']
for c in object_columns:
    print(f'Column: {c}, Unique Values: {dataset[c].nunique()}\n')

Column: company, Unique Values: 19

Column: product, Unique Values: 618

Column: typename, Unique Values: 6

Column: screenresolution, Unique Values: 40

Column: cpu, Unique Values: 118

Column: memory, Unique Values: 39

Column: gpu, Unique Values: 110

Column: opsys, Unique Values: 9

In [ ]:
# Converting ['company','typename', 'screenresolution', 'cpu', 'ram', 'memory', 'gpu', 'opsys', 'weight'] columns to category
dataset[['company', 'typename', 'screenresolution', 'cpu', 'ram', 'memory', 'gpu', 'opsys', 'weight']] = dataset[['company', 'typename', 'screenresolution', 'cpu', 'ram', 'memory', 'gpu', 'opsys', 'weight']].astype('category')
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_id         1303 non-null   int64
 1   company           1303 non-null   category
 2   product           1303 non-null   object
 3   typename          1303 non-null   category
 4   inches            1303 non-null   float64
 5   screenresolution  1303 non-null   category
 6   cpu               1303 non-null   category
 7   ram               1303 non-null   category
 8   memory            1303 non-null   category
 9   gpu               1303 non-null   category
 10  opsys             1303 non-null   category
 11  weight            1303 non-null   category
 12  price_euros       1303 non-null   float64
dtypes: category(9), float64(2), int64(1), object(1)
memory usage: 73.3+ KB
None

In [ ]:
# Top view of the ram column
dataset['ram'].head()

0     8GB
1     8GB
2     8GB
3    16GB
4     8GB
Name: ram, dtype: category
Categories (9, object): ['12GB', '16GB', '24GB', '2GB', ..., '4GB', '64GB', '6GB', '8GB']

In [ ]:
# Converting 'ram' column to numeric
dataset['ram'] = dataset['ram'].str.replace('GB', '').astype(int)
print(dataset['ram'].head())
dataset.info()

0     8
1     8
2     8
3    16
4     8
Name: ram, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_id         1303 non-null   int64
 1   company           1303 non-null   category
 2   product           1303 non-null   object
 3   typename          1303 non-null   category
 4   inches            1303 non-null   float64
 5   screenresolution  1303 non-null   category
 6   cpu               1303 non-null   category
 7   ram               1303 non-null   int64
 8   memory            1303 non-null   category
 9   gpu               1303 non-null   category
 10  opsys             1303 non-null   category
 11  weight            1303 non-null   category
 12  price_euros       1303 non-null   float64
dtypes: category(8), float64(2), int64(2), object(1)
memory usage: 81.9+ KB

In [ ]:
# Viewing the weight column
dataset['weight'].value_counts()

weight
2.2kg      121
2.1kg       58
2.4kg       44
2.3kg       41
2.5kg       38
          ...
2.591kg      1
2.72kg       1
2.75kg       1
2.79kg       1
4kg          1
Name: count, Length: 179, dtype: int64

In [ ]:
# Cleaning the weight column
dataset['weight'] = dataset['weight'].str.replace('kg', '').astype(float)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_id         1303 non-null   int64
 1   company           1303 non-null   category
 2   product           1303 non-null   object
 3   typename          1303 non-null   category
 4   inches            1303 non-null   float64
 5   screenresolution  1303 non-null   category
 6   cpu               1303 non-null   category
 7   ram               1303 non-null   int64
 8   memory            1303 non-null   category
 9   gpu               1303 non-null   category
 10  opsys             1303 non-null   category
 11  weight            1303 non-null   float64
 12  price_euros       1303 non-null   float64
dtypes: category(7), float64(3), int64(2), object(1)
memory usage: 84.0+ KB

In [ ]:
# Viewing the opsys column
dataset['opsys'].value_counts()

opsys
Windows 10      1072
No OS             66
Linux             62
Windows 7         45
Chrome OS         27
macOS             13
Mac OS X           8
Windows 10 S       8
Android            2
Name: count, dtype: int64

In [ ]:
# Cleaning the opsys column
dataset['opsys'] = dataset['opsys'].str.strip().str.lower().str.replace(' ', '_')
for c in dataset['opsys']:
    if c in ['windows_10', 'windows_10_s', 'windows_7']:
        dataset.loc[dataset['opsys'] == c, 'opsys'] = 'windows'
    elif c in ['macos', 'mac_os_x']:
        dataset.loc[dataset['opsys'] == c, 'opsys'] = 'mac'
dataset['opsys'] = dataset['opsys'].astype('category')
dataset['opsys'].value_counts()

opsys
windows      1125
no_os          66
linux          62
chrome_os      27
mac            21
android         2
Name: count, dtype: int64

In [ ]:
# Looking at screenresolution column
dataset['screenresolution'].value_counts()

screenresolution
Full HD 1920x1080                                507
1366x768                                         281
IPS Panel Full HD 1920x1080                      230
IPS Panel Full HD / Touchscreen 1920x1080         53
Full HD / Touchscreen 1920x1080                   47
1600x900                                          23
Touchscreen 1366x768                              16
Quad HD+ / Touchscreen 3200x1800                  15
IPS Panel 4K Ultra HD 3840x2160                   12
IPS Panel 4K Ultra HD / Touchscreen 3840x2160     11
4K Ultra HD / Touchscreen 3840x2160               10
Touchscreen 2560x1440                              7
4K Ultra HD 3840x2160                              7
IPS Panel 1366x768                                 7
Touchscreen 2256x1504                              6
IPS Panel Quad HD+ / Touchscreen 3200x1800         6
IPS Panel Retina Display 2304x1440                 6
IPS Panel Retina Display 2560x1600                 6
IPS Panel Touchscreen 2560x1440                    5
IPS Panel 2560x1440                                4
IPS Panel Touchscreen 1920x1200                    4
1440x900                                           4
IPS Panel Retina Display 2880x1800                 4
Touchscreen 2400x1600                              3
1920x1080                                          3
Quad HD+ 3200x1800                                 3
2560x1440                                          3
IPS Panel Quad HD+ 2560x1440                       3
IPS Panel Touchscreen 1366x768                     3
IPS Panel Quad HD+ 3200x1800                       2
IPS Panel Full HD 2160x1440                        2
IPS Panel Touchscreen / 4K Ultra HD 3840x2160      2
IPS Panel Touchscreen 2400x1600                    1
IPS Panel Retina Display 2736x1824                 1
IPS Panel Full HD 2560x1440                        1
Touchscreen / 4K Ultra HD 3840x2160                1
Touchscreen / Full HD 1920x1080                    1
Touchscreen / Quad HD+ 3200x1800                   1
IPS Panel Full HD 1920x1200                        1
IPS Panel Full HD 1366x768                         1
Name: count, dtype: int64

In [ ]:
# A little touch on the screenresolution column
dataset['screenresolution'] = dataset['screenresolution'].str.lower().str.strip().str.replace(' ', '_')
print(dataset['screenresolution'].value_counts())

# Some more work
for c in dataset['screenresolution']:
    try:
        dataset.loc[dataset['screenresolution']==c, 'screenresolution'] = c[-9:]
    except:
        pass
dataset['screenresolution'].value_counts()

screenresolution
full_hd_1920x1080                                507
1366x768                                         281
ips_panel_full_hd_1920x1080                      230
ips_panel_full_hd_/_touchscreen_1920x1080         53
full_hd_/_touchscreen_1920x1080                   47
1600x900                                          23
touchscreen_1366x768                              16
quad_hd+_/_touchscreen_3200x1800                  15
ips_panel_4k_ultra_hd_3840x2160                   12
ips_panel_4k_ultra_hd_/_touchscreen_3840x2160     11
4k_ultra_hd_/_touchscreen_3840x2160               10
4k_ultra_hd_3840x2160                              7
touchscreen_2560x1440                              7
ips_panel_1366x768                                 7
ips_panel_quad_hd+_/_touchscreen_3200x1800         6
ips_panel_retina_display_2560x1600                 6
ips_panel_retina_display_2304x1440                 6
touchscreen_2256x1504                              6
ips_panel_touchscreen_2560x1440                    5
ips_panel_retina_display_2880x1800                 4
ips_panel_touchscreen_1920x1200                    4
1440x900                                           4
ips_panel_2560x1440                                4
ips_panel_quad_hd+_2560x1440                       3
quad_hd+_3200x1800                                 3
1920x1080                                          3
touchscreen_2400x1600                              3
2560x1440                                          3
ips_panel_touchscreen_1366x768                     3
ips_panel_touchscreen_/_4k_ultra_hd_3840x2160      2
ips_panel_full_hd_2160x1440                        2
ips_panel_quad_hd+_3200x1800                       2
ips_panel_retina_display_2736x1824                 1
ips_panel_full_hd_1920x1200                        1
ips_panel_full_hd_2560x1440                        1
ips_panel_full_hd_1366x768                         1
touchscreen_/_full_hd_1920x1080                    1
touchscreen_/_quad_hd+_3200x1800                   1
touchscreen_/_4k_ultra_hd_3840x2160                1
ips_panel_touchscreen_2400x1600                    1
Name: count, dtype: int64

screenresolution
1920x1080    841
1366x768     281
3840x2160     43
3200x1800     27
_1366x768     27
2560x1440     23
1600x900      23
2560x1600      6
2304x1440      6
2256x1504      6
1920x1200      5
1440x900       4
2880x1800      4
2400x1600      4
2160x1440      2
2736x1824      1
Name: count, dtype: int64

In [ ]:
# Final touching on the screenresolution column
dataset['screenresolution'] = dataset['screenresolution'].str.replace('_', '').astype('category')
print(dataset['screenresolution'].nunique())
dataset['screenresolution'].value_counts()

15

screenresolution
1920x1080    841
1366x768     308
3840x2160     43
3200x1800     27
1600x900      23
2560x1440     23
2256x1504      6
2304x1440      6
2560x1600      6
1920x1200      5
1440x900       4
2400x1600      4
2880x1800      4
2160x1440      2
2736x1824      1
Name: count, dtype: int64

In [ ]:
# Checking the summary of the dataset again
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_id         1303 non-null   int64
 1   company           1303 non-null   category
 2   product           1303 non-null   object
 3   typename          1303 non-null   category
 4   inches            1303 non-null   float64
 5   screenresolution  1303 non-null   category
 6   cpu               1303 non-null   category
 7   ram               1303 non-null   int64
 8   memory            1303 non-null   category
 9   gpu               1303 non-null   category
 10  opsys             1303 non-null   category
 11  weight            1303 non-null   float64
 12  price_euros       1303 non-null   float64
dtypes: category(7), float64(3), int64(2), object(1)
memory usage: 83.2+ KB

In [ ]:
# A look at the gpu column
dataset['gpu'].value_counts()

gpu
Intel HD Graphics 620      281
Intel HD Graphics 520      185
Intel UHD Graphics 620      68
Nvidia GeForce GTX 1050     66
Nvidia GeForce GTX 1060     48
                          ...
Intel Iris Graphics 550      1
Intel Iris Pro Graphics      1
Nvidia GTX 980 SLI           1
Nvidia GeForce 920           1
Nvidia Quadro M620M          1
Name: count, Length: 110, dtype: int64

In [ ]:
# Looking at the memory column
dataset['memory'].value_counts()

memory
256GB SSD                        412
1TB HDD                          223
500GB HDD                        132
512GB SSD                        118
128GB SSD +  1TB HDD              94
128GB SSD                         76
256GB SSD +  1TB HDD              73
32GB Flash Storage                38
2TB HDD                           16
64GB Flash Storage                15
1TB SSD                           14
512GB SSD +  1TB HDD              14
256GB SSD +  2TB HDD              10
1.0TB Hybrid                       9
256GB Flash Storage                8
16GB Flash Storage                 7
32GB SSD                           6
180GB SSD                          5
128GB Flash Storage                4
16GB SSD                           3
512GB SSD +  2TB HDD               3
1TB SSD +  1TB HDD                 2
256GB SSD +  500GB HDD             2
128GB SSD +  2TB HDD               2
512GB Flash Storage                2
256GB SSD +  256GB SSD             2
64GB Flash Storage +  1TB HDD      1
512GB SSD +  512GB SSD             1
64GB SSD                           1
512GB SSD +  256GB SSD             1
1.0TB HDD                          1
512GB SSD +  1.0TB Hybrid          1
508GB Hybrid                       1
32GB HDD                           1
256GB SSD +  1.0TB Hybrid          1
240GB SSD                          1
1TB HDD +  1TB HDD                 1
128GB HDD                          1
8GB SSD                            1
Name: count, dtype: int64

In [ ]:
# Finally the cpu column
dataset['cpu'].value_counts()

cpu
Intel Core i5 7200U 2.5GHz       190
Intel Core i7 7700HQ 2.8GHz      146
Intel Core i7 7500U 2.7GHz       134
Intel Core i7 8550U 1.8GHz        73
Intel Core i5 8250U 1.6GHz        72
                                ...
Intel Atom Z8350 1.92GHz           1
Intel Core i7 2.2GHz               1
Intel Core i7 2.7GHz               1
Intel Core i7 2.8GHz               1
Samsung Cortex A72&A53 2.0GHz      1
Name: count, Length: 118, dtype: int64

I AM DONE CLEANING HERE.

In [ ]:
# Before Cleaning the dataset
with open(r'C:\Users\DANIEL\Documents\laptop_price\laptop_price.csv') as file:
    df = pd.read_csv(file)
df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [ ]:
# After cleaning the dataset
dataset.head()

,laptop_id,company,product,typename,inches,screenresolution,cpu,ram,memory,gpu,opsys,weight,price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,mac,1.37,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,mac,1.34,898.94
2,3,HP,250 G6,Notebook,15.6,1920x1080,Intel Core i5 7200U 2.5GHz,8,256GB SSD,Intel HD Graphics 620,no_os,1.86,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,2880x1800,Intel Core i7 2.7GHz,16,512GB SSD,AMD Radeon Pro 455,mac,1.83,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,2560x1600,Intel Core i5 3.1GHz,8,256GB SSD,Intel Iris Plus Graphics 650,mac,1.37,1803.60